<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express JS</title>

    <link rel="stylesheet" href="assets/style.css">
</head>
<body>
    <header>
        <section>
           <div id="logo">Taufiq Syaifudin</div>
        <nav>
            <a href='/'>Home</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
        </nav>
        </section>
      </header>
      <section id="ABOUT" class="content">
        <h2>ABOUT</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur exercitationem placeat laudantium corporis excepturi eius qui nihil reprehenderit, amet quidem inventore fugit aliquid recusandae enim commodi reiciendis dolor repellendus velit?</p>
        </section>
</body>
</html>