<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express JS</title>

    <link rel="stylesheet" href="assets/style.css">
</head>
<body>
    <header>
        <section>
           <div id="logo">Taufiq Syaifudin</div>
        <nav>
            <a href='/'>Home</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
        </nav>
        </section>
      </header>
      <section id="CONTACT" class="content">
        <h2>CONTACT</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, doloremque sunt ullam reprehenderit eos exercitationem quo saepe, voluptate, enim tempora hic maiores odit. Quasi ipsam possimus architecto maxime quam magnam.</p>
        </section>
</body>
</html>