<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express JS</title>

    <link rel="stylesheet" href="assets/style.css">
</head>
<body>
    <header>
        <section>
           <div id="logo">Taufiq Syaifudin</div>
        <nav>
            <a href='/'>Home</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
        </nav>
        </section>
      </header>
      <section id="HOME" class="content">
        <h2>HOME</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore rerum mollitia earum? Animi dolorem sed, alias maiores doloribus, deleniti totam a aliquid consequatur ex quaerat reiciendis facilis eius magnam sunt?</p>
        </section>
</body>
</html>